body {
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
}

h2{
    padding: 5px;
}

.lila h2:hover{
    color: white;
}

.blanco h2:hover{
    color: violet;
}

.lila{
    /*background-color: violet;*/
    background-image: url("https://static5.depositphotos.com/1031147/435/i/450/depositphotos_4357275-stock-photo-multi-colored-light-burst.jpg") ;
    padding: 50px 0px;
}

.blanco{
    padding: 50px 0px;
}


.centrado img{
    margin: 10px;
    width: 20%;
   border: 3px solid white;
}

.centrado img:hover{
    transform: scale(1.2);
    box-shadow: 10px 10px 10px grey;
}

label{
    color: #ffedfb;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    width: 100px;
    height: 25px;
    border-radius: 10%;
    border: 1px solid black;
    background-color: white;
}

button:hover{
    border: 1px solid white;
    background-color: #de66c6;
    color: white ;
}

#direccion{
    border: 5px dashed white;
    color: white;
    background-color: rgba(150, 0, 100, 0.3);
}

.footer{
    background-color: rgb(56, 9, 42);
    padding: 20px 0px;
    color: snow;
}

.profile{
    width:500px;
    height:500px;
    border-radius: 250px;
}